# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://tklwscpuqzgnfyonxvlw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_NRZtraifZUPxLCMOf6Q5PA_riw_tsZF

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=AeroDesk